[Desktop Entry]
Name=Spotify
GenericName=Music Player
Comment=Listen to music
Exec=spotify
Icon=spotify
Terminal=false
Type=Application
Categories=Audio;Music;Player;AudioVideo;
StartupWMClass=Spotify

