[submodule "configs/oh-my-tmux"]
	path = configs/oh-my-tmux
	url = https://github.com/gpakosz/.tmux
[submodule "nixos/modules/nixPatch-nvim"]
	path = nixos/modules/nixPatch-nvim
	url = https://github.com/saharshbhansali/nixPatchNvim
  branch = dev
[submodule "nixos/modules/nixCats-nvim"]
	path = nixos/modules/nixCats-nvim
	url = https://github.com/saharshbhansali/nixCatsNvim
	branch = dev
